@page
@model AvcolStaff.Pages.RatingS.IndexModel

@{
    ViewData["Title"] = "Ratings";
}

<h1>Ratings</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rating[0].ReviewStars)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating[0].Staff)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Rating) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewStars)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Staff.FullName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.StaffID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.StaffID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.StaffID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
