@page
@model AvcolStaff.Pages.StandardsS.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Standards[0].Credits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Standards[0].StandardName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Standards[0].StandardCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Standards[0].Subjects)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Standards) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Credits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StandardName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StandardCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subjects.SubjectsID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.SubjectsID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.SubjectsID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.SubjectsID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
