@page
@model AvcolStaff.Pages.PersonalInfoS.IndexModel

@{
    ViewData["Title"] = "Personal Information";
}

<h1>Personal Information</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PersonalInformation[0].DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonalInformation[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonalInformation[0].PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonalInformation[0].EmergencyContact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonalInformation[0].EcRelaitonship)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonalInformation[0].CitizenStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonalInformation[0].Ethnicity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonalInformation[0].EmailAddress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.PersonalInformation) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmergencyContact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EcRelaitonship)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CitizenStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ethnicity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.StaffID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.StaffID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.StaffID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
