@page
@model AvcolStaff.Pages.DepartmentSubjectsS.IndexModel

@{
    ViewData["Title"] = "Department Subjects";
}

    <h1>Department Subjects</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentSubjects[0].Subjects)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentSubjects[0].Departments)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.DepartmentSubjects) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Subjects.SubjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departments.DepartmentName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.DepartmentSubjectsID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.DepartmentSubjectsID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.DepartmentSubjectsID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
