@page
@model AvcolStaff.Pages.SalaryS.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Salary</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Salary.StaffID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Salary.StaffID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Salary.SalaryGradeName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Salary.SalaryGradeName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Salary.StartRange)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Salary.StartRange)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Salary.EndRange)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Salary.EndRange)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Salary.ActualSalary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Salary.ActualSalary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Salary.MoeNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Salary.MoeNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Salary.SalaryID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
