@page
@model AvcolStaff.Pages.SessionS.IndexModel

@{
    ViewData["Title"] = "Sessions";
}

<h1>Sessions</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sessions[0].Staff)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Sessions[0].RoomNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sessions[0].Period)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sessions[0].Day)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sessions[0].Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sessions[0].Subjects)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Sessions) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Staff.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Period)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Day)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subjects.SubjectName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.StaffID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.StaffID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.StaffID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
